* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: antiquewhite;
  text-align: center;
  width: 100%;
}

main {
  width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

/* Banner section */

#banner {
  width: 100%;
  background-image: url("https://res.cloudinary.com/universidad-autonoma-de-aguascalientes/image/upload/v1672365884/mystery_fdfzak.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  height: 45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#banner img {
  border-color: black;
  width: 25rem;
  height: auto;
}

#prompt-banner {
  border-radius: 2px;
  box-shadow: 10px 5px 5px black;
  background-color: rgb(255, 244, 223);
  padding: 2.5rem;
  width: 25rem;
  display: inline-block;
}

/* Contact section */
#contact {
  width: 100%;
  height: 15rem;
}

#contact nav, #contact ul {
  height: 100%;
}

#contact ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact li {
  display: inline-block;
}

#contact img {
  width: 10rem;
}

/* Books section */
#books {
  width: 100%;
  padding-top: 2rem;
}

#books-collection img {
  width: auto;
  height: 32.5rem;
  box-shadow: 10px 5px 5px black;
}

#books-collection ul {
  list-style: none;
}

#books-collection li {
  display: inline-block;
}

/* ruleset for <= 420px */
@media only screen and (max-width: 420px) {
  h1 {
    font-size: 1.5rem;
  }

  #banner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #prompt-banner {
    border-radius: 1px;
    box-shadow: 5px 2.5px 2.5px black;
    background-color: rgb(255, 244, 223);
    padding: 1rem;
    width: 15rem;
  }

  #banner h2 {
    font-size: .9rem;
  }

  #banner img {
    width: 15rem;
  }

  #arrow {
    transform: rotate(90deg);
  }

  #arrow img {
    width: 10rem;
  }

  #contact {
    height: 10rem;
  }

  #contact img {
    width: 5rem;
  }

  #prompt-books {
    width: 100%;
  }

  #prompt-books h2 {
    font-size: 1rem;
  }

  #books-collection img {
    height: 15rem;
    width: auto;
  }
}