* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: antiquewhite;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

/* Banner section */
#banner {
  background-image: url("https://res.cloudinary.com/universidad-autonoma-de-aguascalientes/image/upload/v1672365884/mystery_fdfzak.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
  width: 100%;
  height: 45rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#banner img {
  border-color: black;
  width: 25rem;
  height: auto;
}

#banner h2 {
  border-radius: 2px;
  box-shadow: 10px 5px 5px black;
  background-color: rgb(255, 244, 223);
  padding: 2.5rem;
  width: 25rem;
  display: inline-block;
}

/* Books section */
#books {
  padding: 2rem .5rem;
}

#books h2 {
  padding: 2rem 3rem 0 3rem;
}

#books-collection img {
  width: auto;
  height: 32.5rem;
  box-shadow: 10px 5px 5px black;
}

#books-collection ul {
  list-style: none;
  margin: 2.5rem;
}

#books-collection li {
  display: inline-block;
  margin-right: 2.5rem;
}

#books-collection li h3 {
  padding: 2rem 0;
}